# Created by https://www.toptal.com/developers/gitignore/api/rust,c
# Edit at https://www.toptal.com/developers/gitignore?templates=rust,c

# =====================================
# Rust project
# =====================================

# Compiled output
/target/
debug/

# Cargo metadata
Cargo.lock       # include for apps, ignore for libraries
**/*.rs.bk       # rustfmt backups

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# OS / editor files
.DS_Store
.idea/
.vscode/
*.iml

# Backup files
*~

# MSVC Windows builds of rustc generate these, which store debugging information

# End of https://www.toptal.com/developers/gitignore/api/rust
