# =========================
# Rust / Cargo
# =========================
/target/
debug/
**/*.rs.bk           # rustfmt backups

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.swp
*.swo
*~

# =========================
# OS / Editors
# =========================
.DS_Store
.idea/
.vscode/
*.iml
